<form action="" method="get">
    {% csrf_token %}
    <div class="form-control1" style="display: flex; flex-direction: column">
      <label for="">Line</label>
      <select name="line" id="">
        <option value="">Select Line</option>
        {% for line in lines %}
        <option value="{{line.id}}">{{line}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-control1" style="display: flex; flex-direction: column">
      <label for="">Start Date</label>
      <input type="date" name="start-date" id="" />
    </div>
    <div class="form-control1" style="display: flex; flex-direction: column">
      <label for="">End Date</label>
      <input type="date" name="end-date" id="" />
    </div>
    <div class="form-control1" style="display: flex; flex-direction: column">
      <label for="">Product Type</label>
      <select name="product-type" id="">
        <option value="">Choose an product</option>
        {% for product in products %}
        <option value="{{product.id}}">{{product}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-control1" style="display: flex; flex-direction: column">
      <label for="">Team Leader</label>
      <select name="team-leader" id="">
        <option value="">Choose an Team Leader</option>
        {% for leader in leaders %}
        <option value="{{leader.id}}">{{leader}}</option>
        {% endfor %}
      </select>
    </div> 
    <div class="form-control1" style="display: flex; flex-direction: column">
      <label for="">Operator</label>
      <select name="operator" id="">
        <option value="">Choose an Operator</option>
        {% for operator in operators %}
        <option value="{{operator.id}}">{{operator}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-control1" style="display: flex; flex-direction: column">
      <label for="">Time Period</label>
      <select name="time-period" id="">
        <option value="">Choose an option</option>
        {% for time in times %}
        <option value="{{time.id}}">{{time}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Search</button>
  </form>
  