<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Chart js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="{% static '/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static '/css/style.css' %}" />

    <title>Insight</title>
  </head>
  <body>
    <div class="container-fluid">
      {% block content %} {% endblock content %}
    </div>
    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>
  </body>
</html>
