{% extends 'base.html' %}
{% block content %} {% include 'navbar.html' %}
 
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet" />
  </head>
  <body class="d-flex text-center text-black  bg-light">
    <div class="cover-container d-flex w-100 h-100 mt-20 p-3 mx-auto flex-column">
      <main class="px-3">
        <h1>Get insight on Line Perfomance.</h1>
        <p class="lead">
          Data driven insight
        </p>
        <p class="lead">
          <a
            href="#"
            class="btn btn-lg btn-secondary fw-bold border-white bg-white"
            >Learn more</a
          >
        </p>
      </main>

      <footer class="mt-auto text-white-50">
        <p>
          Niceiyke concept
          <a href="https://getbootstrap.com/" class="text-white">Copyright</a>,
          by <a href="https://twitter.com/mdo" class="text-white">@niceiyke</a>.
        </p>
      </footer>
    </div>
  </body>
{% endblock content %}
